* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: var(--background);
  line-height: 1.6;
  display: grid;
}

:root {
  --background: #26292B;
  --foreground: rgba(44, 49, 59);
  --accent: #5F7ADB;
  --accent-2: #3F5ABD;
  --neutral: white;
}

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--foreground);
  padding: 0 25px;
  transition: 0.3s;
}

.logo a {
  display: block;
}

.logo a img {
  display: block;
  width: 100%;
  max-height: 100px;
  max-width: 500px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  transition: 0.5s;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: var(--accent);
  text-decoration: none;
  display: block;
  padding: 40px 25px;
  font-size: 18px;
  line-height: 1;
  transition: 0.3s;
}

.menu li a:hover {
  box-shadow: 0 -5px 0px var(--accent) inset;
  padding: 35px 25px 45px 25px;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 4px;
  background: var(--accent);
  border-radius: 10px;
  cursor: pointer;
  z-index: 3;
  transition: 0.3s;
}

h2 {
  display: flex;
  position: relative;
  padding: 0.10em 0;
  margin: 0 8rem;
  color: var(--neutral);
  font-size: 50px;
  display: inline-block;
}

h2::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  margin-bottom: 40px;
  height: 4px;
  bottom: 0px;
  left: 0;
  background-color: var(--accent);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

h2:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background-color: #5F7ADB;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger::before {
  top: -10px;
  width: 30px;
}

.hamburger::after {
  top: 10px;
  width: 30px;
}

.toggle-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
}

.hamburger,
.toggle-menu {
  display: none;
}

.navigation input:checked ~ .hamburger {
  background: transparent;
}

.navigation input:checked ~ .hamburger::before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.navigation input:checked ~ .hamburger::after{
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

.navigation input:checked ~ .menu {
  right: 0;
  box-shadow: 20px 0 60px rgba(0, 0, 0, 1);
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensure header stays on top */
  width: 100%;
}

main {
  padding-top: 100px;
}

/* Display Hamburger Icon for Mobile */
@media (max-width: 1050px) {
  .hamburger,
  .toggle-menu{
    display: block;
  }

  .h2wrapper {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h2::after {
    transform: scaleX(1);
    transform-origin: bottom left; 
    margin-bottom: 10px;
  }

  .header{
    padding-right: 30px;
  }

  .menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--foreground);
    width: 300px;
    height: 100%;
    padding-top: 100px;
    margin-left: 60px;
  }

  .menu li {
    width: 100%;
  }

  .menu li a {
    padding: 30px;
    font-size: 24px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  }
}

.container {
  display: flex;
  height: 100vh; /* This ensures the container takes up the full viewport height */
}

.text-content {
  flex: 1; /* This allows the text content to take up half the space */
  padding: 20px;
  display: flex; /* Make text-content a flex container */
  flex-direction: column; /* Stack the items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Align items to the left */
  text-align: left; /* Align text to the left */
  order: 2;
  margin-top: -200px;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.image-content {
  flex: 1; /* This allows the image content to take up half the space */
  overflow: hidden; /* This ensures the image doesn't overflow its container */
  order: 1;
}

#Abstract {
  width: 100%; /* This ensures the image takes up the full width of its container */
  height: 100%; /* This ensures the image takes up the full height of its container */
  object-fit: cover; /* This ensures the image covers the full area of its container without distorting its aspect ratio */
}

/* On smaller screens */
@media (max-width: 900px) {
    .container {
        flex-direction: column-reverse; /* This stacks the text on top of the image */
        height: auto;
        padding-top: 30px;
        margin: 30px;
        margin-top: 200px;
    }

    .image-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 0px;
        z-index: -1; /* This sends the image behind the text */
    }

    .text-content {
        z-index: 1; /* This ensures the text stays on top of the image */
        background-color: rgba(44, 49, 59, 0.98); /* Optional: This adds a slight white background to the text to make it more readable */
        border-radius: 20px;
        padding: 50px;
        align-items: center;
    }
}

h1 > span.IT {
    color: var(--neutral);
}

h1 {
  font-size: calc(50px + 3vw); /* Starts at 50px and scales with the viewport width */
  color: #5F7ADB;
  margin-bottom: 30px;
}

h4 {
  color: var(--neutral);
  margin-bottom: 30px;
}


h2 {
  font-size: calc(30px + 2vw);
}

/* Ensure the font size doesn't get too small on very narrow screens */
@media (max-width: 400px) {
  h1, h2 {
      font-size: 40px;
  }
}

/* Ensure the font size doesn't get too large on very wide screens */
@media (min-width: 1200px) {
  h1{
      font-size: 130px;
  }

  h2 {
    font-size: 100px;
  }
}


/*Button graphics */

.btn-34,
.btn-34 *,
.btn-34 :after,
.btn-34 :before,
.btn-34:after,
.btn-34:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-34 {
  -webkit-tap-highlight-color: transparent;
  background-color: #5F7ADB;
  background-image: none;
  color: #26292B;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.btn-34:disabled {
  cursor: default;
}
.btn-34:-moz-focusring {
  outline: auto;
}
.btn-34 svg {
  display: block;
}
.btn-34 [hidden] {
  display: none;
}
.btn-34 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-34:hover {
  transform: scale(1.1);
}
.btn-34 span {
  font-weight: 900;
  mix-blend-mode: difference;
}
.btn-34:before {
  aspect-ratio: 1;
  background: #3F5ABD;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s;
  width: 0;
}
.btn-34:hover:before {
  width: 100%;
}

/*Button graphics  END */

/* Cards*/



.card {
  color: var(--neutral);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  text-align: left;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 10px;

  transition: transform 500ms;
}

.card:hover,
.card:focus-within{
  transform: scale(1.05);
}

.card-content {
  --padding: 2rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 0.3) 20%,
    hsl(0 0% 0% / 1)
  );
}

@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .card:hover .card-content,
.card:focus-within .card-content{
  transform: translateY(0);
  transition-delay: 500ms;
}

.card:focus-within .card-content{
  transition: 0ms;
}

.card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.card:hover .card-content > *:not(.card-title),
.card:focus-within .card-content > *:not(.card-title){
  opacity: 1;
  transition-delay: 800ms;
}

.card-title::after{
  transform: scalex(0);
}
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  background: var(--accent);
  width: calc(100% + var(--padding));
  left: calc(var(--padding) * -1);
  bottom: -4px;
  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after{
  transform: scalex(1);
}

.card-title{
  position: relative;
  width: max-content;
  margin-bottom: 15px;
}

.button {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: var(--neutral);
  background-color: var(--accent);
  padding: 0.5em 1.25em;
  border-radius: 0.5rem;
}
.card-body {
  margin-bottom: 15px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-2);
}



.services-cards {
  display: flex;
  justify-content: center; /* Centers cards horizontally */
  align-items: stretch; /* Makes sure all cards are the same height */
  gap: 10vw; /* Optional: Provides spacing between the cards */
  flex-wrap: wrap; /* Ensures all cards are on the same line. Can use "wrap" if you want them to wrap to the next line on smaller screens */
  padding: 80px;
}

@media (max-width: 1300px){
  .services-cards{
    gap: 1vw;
    padding: 30px;
  }

  h2::after{
    margin-bottom: 10px;
  }
}

@media (min-width: 1050px){
  #mobile-card{
    display: none;
  }
}

@media (max-width: 1050px){
  #computer-installation,
  #tv-sound,
  #phone-backup {
    display: none;
  }

  #mobile-card{
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -91px;
    margin-top: 30px;
  }
}
/*Service Cards END*/

.profile_pic {
  width: 400px;
  flex-direction: column;
}

.profile_content {
  text-align: center;
}

.text_ceo{
  color: var(--neutral);
  margin-top: 10px;
}

.about_content{
  flex-direction: column;
  padding: 50px;
  margin-left: 100px;
  background-color: var(--foreground);
  border-radius: 40px;
  color: var(--neutral);
}

.container_2 {
  display: flex;
  padding: 80px;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 1300px) {
  .container_2 {
    flex-direction: column; /* This will stack children vertically */
    justify-content: center;
    align-items: center;
  }
  .about_content {
    margin-left: 0; /* Resetting the margin */
    flex-direction: column;
  }
}